___

<a href='https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0'><img src='eeoc_logo.png'/></a>
___

<center><em>ISDS 577 Capstone Project</em></center>
<center><em>For more information, visit <a href='https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0'>www.eeoc.gov</a></em></center>

## Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Notebook Info

- Fixing the counties that do not have county_FIPS in the eeoc dataset.

## CSV

In [3]:
eeo = pd.read_csv('datasets/EEO Cleaned Data V4.csv', low_memory=False)

In [5]:
counties = pd.read_csv('US Zips/uszips_all.csv')

In [4]:
eeo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949346 entries, 0 to 949345
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                949346 non-null  int64
 1   County_FIPS         949346 non-null  object
 2   County              949346 non-null  object
 3   State               949346 non-null  object
 4   Race                949346 non-null  object
 5   Gender              949346 non-null  object
 6   Industry            949346 non-null  object
 7   Job                 949346 non-null  object
 8   Number of Employee  949346 non-null  int64
dtypes: int64(2), object(7)
memory usage: 65.2+ MB

In [121]:
# 1 - Getting Missing Counties

In [7]:
eeo.sort_values(by='County_FIPS')

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
930630,2016,10001,Kent,DE,Hispanic,Female,Manufacturing,Operatives,18
199228,2021,10001,Kent,DE,White,Male,Information,Technicians,18
222076,2020,10001,Kent,DE,White,Male,Manufacturing,Clericals,8
563196,2018,10001,Kent,DE,Asian,Male,Accommodation and Food Services,MidOffandManagers,6
641626,2018,10001,Kent,DE,Hispanic,Female,Retail Trade,Clericals,6
...,...,...,...,...,...,...,...,...,...
326821,2020,"York, VA",York,VA,Asian,Male,Retail Trade,SalesWorkers,7
736576,2017,"York, VA",York,VA,White,Male,Health Care and Social Assistance,Technicians,3
210999,2021,"York, VA",York,VA,Asian,Female,Health Care and Social Assistance,Professionals,31
453301,2019,"York, VA",York,VA,BlackorAfricanAmerican,Female,Retail Trade,Labors,28
504624,2019,"York, VA",York,VA,BlackorAfricanAmerican,Male,Real Estate and Rental and Leasing,SalesWorkers,31

In [11]:
numeric_fips = eeo[eeo['County_FIPS'].str.isnumeric()]
numerc_fips_list = numeric_fips['County_FIPS'].tolist()

In [12]:
numeric_fips

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
0,2021,53077,Yakima,WA,White,Male,Health Care and Social Assistance,Service,118
1,2021,8005,Arapahoe,CO,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,39061,Hamilton,OH,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,26081,Kent,MI,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,26163,Wayne,MI,TwoormoreRaces,Female,Manufacturing,Craft,3
...,...,...,...,...,...,...,...,...,...
949341,2016,18141,St. Joseph,IN,White,Male,Finance and Insurance,MidOffandManagers,76
949342,2016,18141,St. Joseph,IN,White,Male,Accommodation and Food Services,MidOffandManagers,71
949343,2016,18141,St. Joseph,IN,White,Male,Other Services (except Public Administration),MidOffandManagers,40
949344,2016,18167,Vigo,IN,White,Male,Manufacturing,MidOffandManagers,144
949345,2016,6079,San Luis Obispo,CA,Hispanic,Male,Health Care and Social Assistance,MidOffandManagers,12

In [15]:
string_fips = eeo.query("County_FIPS not in @numerc_fips_list")
string_fips

# counties that do not have a FIPS

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
45,2021,"Prince William, VA",Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3
48,2021,"Norfolk, VA",Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7
408,2021,"Maui, HI",Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82
410,2021,"Maui, HI",Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34
411,2021,"Maui, HI",Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13
...,...,...,...,...,...,...,...,...,...
949176,2016,"La Salle, IL",La Salle,IL,White,Male,Warehousing,MidOffandManagers,45
949288,2016,"Lagrange, IN",Lagrange,IN,White,Male,Manufacturing,MidOffandManagers,119
949293,2016,"De Kalb, IN",De Kalb,IN,White,Male,Manufacturing,MidOffandManagers,227
949330,2016,"La Porte, IN",La Porte,IN,White,Male,Manufacturing,MidOffandManagers,139
949331,2016,"La Porte, IN",La Porte,IN,White,Male,Accommodation and Food Services,MidOffandManagers,39

In [18]:
string_fips.to_csv("EEOC_Missing_FIPS.csv", index=False)

In [20]:
print(f"There are {string_fips['County_FIPS'].nunique()} counties with missing county codes in EEOC.")

There are 139 counties with missing county codes in EEOC.

In [ ]:
# 2 - Getting FIPS from US ZIPS for missing EEOC

In [31]:
counties = counties.rename(columns={"county_fips":"County_FIPS", "county_name":"County", "state_id":"State"})
counties

       County_FIPS                 County State
0            25013                Hampden    MA
1            25015              Hampshire    MA
2            25015              Hampshire    MA
3            25027              Worcester    MA
4            25015              Hampshire    MA
...            ...                    ...   ...
33634         2198  Prince of Wales-Hyder    AK
33635         2198  Prince of Wales-Hyder    AK
33636         2198  Prince of Wales-Hyder    AK
33637         2198  Prince of Wales-Hyder    AK
33638         2275               Wrangell    AK

[33639 rows x 3 columns]

In [33]:
counties = counties.drop(['zip', 'state_name', 'population', 'lat', 'lng'], axis='columns')

In [66]:
counties_clean = counties.drop_duplicates(['County', 'State'], keep='first')
counties_clean.sort_values(by='County_FIPS')

       County_FIPS      County State
11678         1001     Autauga    AL
11848         1003     Baldwin    AL
11685         1005     Barbour    AL
11369         1007        Bibb    AL
11359         1009      Blount    AL
...            ...         ...   ...
28784        56037  Sweetwater    WY
28892        56039       Teton    WY
28880        56041       Uinta    WY
28795        56043    Washakie    WY
28844        56045      Weston    WY

[3132 rows x 3 columns]

In [40]:
string_fips_clean = string_fips.drop(['County_FIPS'], axis='columns')
string_fips_clean

,Year,County,State,Race,Gender,Industry,Job,Number of Employee
45,2021,Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3
48,2021,Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7
408,2021,Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82
410,2021,Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34
411,2021,Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13
...,...,...,...,...,...,...,...,...
949176,2016,La Salle,IL,White,Male,Warehousing,MidOffandManagers,45
949288,2016,Lagrange,IN,White,Male,Manufacturing,MidOffandManagers,119
949293,2016,De Kalb,IN,White,Male,Manufacturing,MidOffandManagers,227
949330,2016,La Porte,IN,White,Male,Manufacturing,MidOffandManagers,139
949331,2016,La Porte,IN,White,Male,Accommodation and Food Services,MidOffandManagers,39

In [67]:
# Merge string_fips (eeo counties without FIPS) and counties_clean (dataset with FIPS information)

merged_missing = string_fips_clean.merge(right=counties_clean,
                  indicator=True, on=['County', 'State'], how='left')
merged_missing

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,County_FIPS,_merge
0,2021,Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3,51153.0,both
1,2021,Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7,51710.0,both
2,2021,Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82,15009.0,both
3,2021,Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34,15009.0,both
4,2021,Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13,15009.0,both
...,...,...,...,...,...,...,...,...,...,...
55543,2016,La Salle,IL,White,Male,Warehousing,MidOffandManagers,45,NaN,left_only
55544,2016,Lagrange,IN,White,Male,Manufacturing,MidOffandManagers,119,NaN,left_only
55545,2016,De Kalb,IN,White,Male,Manufacturing,MidOffandManagers,227,NaN,left_only
55546,2016,La Porte,IN,White,Male,Manufacturing,MidOffandManagers,139,NaN,left_only
55547,2016,La Porte,IN,White,Male,Accommodation and Food Services,MidOffandManagers,39,NaN,left_only

In [73]:
merged_both = merged_missing.query("_merge == 'both'")
merged_both
# These are the counties with county_fips that we were able to find that. They were originally missing from EEOC"

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,County_FIPS,_merge
0,2021,Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3,51153.0,both
1,2021,Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7,51710.0,both
2,2021,Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82,15009.0,both
3,2021,Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34,15009.0,both
4,2021,Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13,15009.0,both
...,...,...,...,...,...,...,...,...,...,...
55504,2016,Kenai Peninsula,AK,Asian,Female,Health Care and Social Assistance,Service,47,2122.0,both
55505,2016,Kenai Peninsula,AK,Asian,Female,Retail Trade,Service,9,2122.0,both
55506,2016,St. Tammany,LA,Asian,Female,Health Care and Social Assistance,Service,4,22103.0,both
55507,2016,Orleans,LA,Asian,Female,Accommodation and Food Services,Service,250,22071.0,both
55508,2016,Orleans,LA,Asian,Female,Health Care and Social Assistance,Service,5,22071.0,both

In [70]:
merged_left = merged_missing.query("_merge == 'left_only'")
merged_left

# These are the counties with county_fips that we weren't able to find. They are not in the US zips csv, will have to find them
# elsewhere"

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,County_FIPS,_merge
49,2021,Staunton,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,22,NaN,left_only
50,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,28,NaN,left_only
51,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,50,NaN,left_only
75,2021,Danville,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,191,NaN,left_only
80,2021,Colonial Heights,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,147,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...
55543,2016,La Salle,IL,White,Male,Warehousing,MidOffandManagers,45,NaN,left_only
55544,2016,Lagrange,IN,White,Male,Manufacturing,MidOffandManagers,119,NaN,left_only
55545,2016,De Kalb,IN,White,Male,Manufacturing,MidOffandManagers,227,NaN,left_only
55546,2016,La Porte,IN,White,Male,Manufacturing,MidOffandManagers,139,NaN,left_only
55547,2016,La Porte,IN,White,Male,Accommodation and Food Services,MidOffandManagers,39,NaN,left_only

In [46]:
merged_missing.sort_values(by='County_FIPS')

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,County_FIPS,_merge
29174,2021,Anchorage,AK,White,Female,Accommodation and Food Services,MidOffandManagers,55,2020,both
29390,2018,Anchorage,AK,White,Male,Administrative and Support and Waste Managemen...,Labors,111,2020,both
29389,2018,Anchorage,AK,White,Female,Retail Trade,Labors,73,2020,both
29388,2018,Anchorage,AK,White,Female,Retail Trade,Labors,13,2020,both
29387,2018,Anchorage,AK,White,Female,Administrative and Support and Waste Managemen...,Labors,8,2020,both
...,...,...,...,...,...,...,...,...,...,...
32736,2021,Winchester,VA,White,Female,Health Care and Social Assistance,Professionals,2041,51840,both
32737,2021,Winchester,VA,White,Female,Manufacturing,Professionals,18,51840,both
32738,2021,Winchester,VA,White,Male,Manufacturing,Professionals,28,51840,both
32740,2020,Winchester,VA,White,Female,Health Care and Social Assistance,Technicians,297,51840,both
32741,2020,Winchester,VA,White,Male,Health Care and Social Assistance,Technicians,56,51840,both

In [ ]:
# drop the missing counties from eeoc and replace them with their new fips

In [51]:
print(f"EEOC should have {len(eeo)} rows.")
print(f"There are {len(string_fips)} rows without county codes ({string_fips['County_FIPS'].nunique()} counties).")

EEOC should have 949346 rows.
There are 55548 rows without county codes (139 counties).

In [58]:
mask = eeo.isin(string_fips)
eeo_without_missing_fips = eeo[~mask.all(axis=1)]
eeo_without_missing_fips

print(f"There are {len(eeo_without_missing_fips)} rows with county codes.")
print(f"We removed {len(eeo) - len(eeo_without_missing_fips)} rows without county codes.")

There are 893798 rows with county codes.
We removed 55548 rows without county codes.

In [ ]:
# concat eeo_without_missing_fips and merged_both

In [59]:
eeo_without_missing_fips

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
0,2021,53077,Yakima,WA,White,Male,Health Care and Social Assistance,Service,118
1,2021,8005,Arapahoe,CO,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,39061,Hamilton,OH,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,26081,Kent,MI,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,26163,Wayne,MI,TwoormoreRaces,Female,Manufacturing,Craft,3
...,...,...,...,...,...,...,...,...,...
949341,2016,18141,St. Joseph,IN,White,Male,Finance and Insurance,MidOffandManagers,76
949342,2016,18141,St. Joseph,IN,White,Male,Accommodation and Food Services,MidOffandManagers,71
949343,2016,18141,St. Joseph,IN,White,Male,Other Services (except Public Administration),MidOffandManagers,40
949344,2016,18167,Vigo,IN,White,Male,Manufacturing,MidOffandManagers,144
949345,2016,6079,San Luis Obispo,CA,Hispanic,Male,Health Care and Social Assistance,MidOffandManagers,12

In [80]:
columns = eeo.columns.to_list()

In [85]:
merged_both_clean = merged_both.drop(['_merge'], axis='columns')
merged_both_clean

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,County_FIPS
0,2021,Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3,51153.0
1,2021,Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7,51710.0
2,2021,Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82,15009.0
3,2021,Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34,15009.0
4,2021,Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13,15009.0
...,...,...,...,...,...,...,...,...,...
55504,2016,Kenai Peninsula,AK,Asian,Female,Health Care and Social Assistance,Service,47,2122.0
55505,2016,Kenai Peninsula,AK,Asian,Female,Retail Trade,Service,9,2122.0
55506,2016,St. Tammany,LA,Asian,Female,Health Care and Social Assistance,Service,4,22103.0
55507,2016,Orleans,LA,Asian,Female,Accommodation and Food Services,Service,250,22071.0
55508,2016,Orleans,LA,Asian,Female,Health Care and Social Assistance,Service,5,22071.0

In [88]:
columns = ['Year',
'County_FIPS',
 'County',
 'State',
 'Race',
 'Gender',
 'Industry',
 'Job',
 'Number of Employee'
]

In [91]:
merged_both_clean = merged_both_clean[columns]
merged_both_clean

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
0,2021,51153.0,Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3
1,2021,51710.0,Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7
2,2021,15009.0,Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82
3,2021,15009.0,Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34
4,2021,15009.0,Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13
...,...,...,...,...,...,...,...,...,...
55504,2016,2122.0,Kenai Peninsula,AK,Asian,Female,Health Care and Social Assistance,Service,47
55505,2016,2122.0,Kenai Peninsula,AK,Asian,Female,Retail Trade,Service,9
55506,2016,22103.0,St. Tammany,LA,Asian,Female,Health Care and Social Assistance,Service,4
55507,2016,22071.0,Orleans,LA,Asian,Female,Accommodation and Food Services,Service,250
55508,2016,22071.0,Orleans,LA,Asian,Female,Health Care and Social Assistance,Service,5

In [97]:
merged_both_clean['County_FIPS'] = merged_both_clean['County_FIPS'].astype('int').astype('object')
merged_both_clean

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
0,2021,51153,Prince William,VA,TwoormoreRaces,Female,Warehousing,Craft,3
1,2021,51710,Norfolk,VA,TwoormoreRaces,Female,Manufacturing,Craft,7
2,2021,15009,Maui,HI,TwoormoreRaces,Female,Accommodation and Food Services,Clericals,82
3,2021,15009,Maui,HI,TwoormoreRaces,Female,Health Care and Social Assistance,Clericals,34
4,2021,15009,Maui,HI,TwoormoreRaces,Female,Warehousing,Clericals,13
...,...,...,...,...,...,...,...,...,...
55504,2016,2122,Kenai Peninsula,AK,Asian,Female,Health Care and Social Assistance,Service,47
55505,2016,2122,Kenai Peninsula,AK,Asian,Female,Retail Trade,Service,9
55506,2016,22103,St. Tammany,LA,Asian,Female,Health Care and Social Assistance,Service,4
55507,2016,22071,Orleans,LA,Asian,Female,Accommodation and Food Services,Service,250
55508,2016,22071,Orleans,LA,Asian,Female,Health Care and Social Assistance,Service,5

In [111]:
print(f"We fixed {merged_both_clean['County_FIPS'].nunique()} counties.")
print(f"There are {139 - 87} counties left to fix.")

We fixed 87 counties.
There are 52 counties left to fix.

In [98]:
eeo_without_missing_fips

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
0,2021,53077,Yakima,WA,White,Male,Health Care and Social Assistance,Service,118
1,2021,8005,Arapahoe,CO,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,39061,Hamilton,OH,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,26081,Kent,MI,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,26163,Wayne,MI,TwoormoreRaces,Female,Manufacturing,Craft,3
...,...,...,...,...,...,...,...,...,...
949341,2016,18141,St. Joseph,IN,White,Male,Finance and Insurance,MidOffandManagers,76
949342,2016,18141,St. Joseph,IN,White,Male,Accommodation and Food Services,MidOffandManagers,71
949343,2016,18141,St. Joseph,IN,White,Male,Other Services (except Public Administration),MidOffandManagers,40
949344,2016,18167,Vigo,IN,White,Male,Manufacturing,MidOffandManagers,144
949345,2016,6079,San Luis Obispo,CA,Hispanic,Male,Health Care and Social Assistance,MidOffandManagers,12

In [112]:
eeo_new = pd.concat([eeo_without_missing_fips, merged_both_clean])
print(f"There are {len(eeo_new)} rows in the new EEOC")
print(f"There are {len(eeo) - len(eeo_new)} rows still without county_fips ({139-87} counties)")

There are 925572 rows in the new EEOC
There are 23774 rows still without county_fips (52 counties)

In [113]:
eeo_new.to_csv("EEOC_with_fips.csv", index=False)

In [114]:
merged_left.to_csv('address_fips.csv', index=False)

In [115]:
# Goal B: Fix the remaining missing FIPS

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,County_FIPS,_merge
49,2021,Staunton,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,22,NaN,left_only
50,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,28,NaN,left_only
51,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,50,NaN,left_only
75,2021,Danville,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,191,NaN,left_only
80,2021,Colonial Heights,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,147,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...
55543,2016,La Salle,IL,White,Male,Warehousing,MidOffandManagers,45,NaN,left_only
55544,2016,Lagrange,IN,White,Male,Manufacturing,MidOffandManagers,119,NaN,left_only
55545,2016,De Kalb,IN,White,Male,Manufacturing,MidOffandManagers,227,NaN,left_only
55546,2016,La Porte,IN,White,Male,Manufacturing,MidOffandManagers,139,NaN,left_only
55547,2016,La Porte,IN,White,Male,Accommodation and Food Services,MidOffandManagers,39,NaN,left_only

In [119]:
merged_left_clean = merged_left.drop(['County_FIPS', '_merge'], axis='columns')
merged_left_clean

,Year,County,State,Race,Gender,Industry,Job,Number of Employee
49,2021,Staunton,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,22
50,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,28
51,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,50
75,2021,Danville,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,191
80,2021,Colonial Heights,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,147
...,...,...,...,...,...,...,...,...
55543,2016,La Salle,IL,White,Male,Warehousing,MidOffandManagers,45
55544,2016,Lagrange,IN,White,Male,Manufacturing,MidOffandManagers,119
55545,2016,De Kalb,IN,White,Male,Manufacturing,MidOffandManagers,227
55546,2016,La Porte,IN,White,Male,Manufacturing,MidOffandManagers,139
55547,2016,La Porte,IN,White,Male,Accommodation and Food Services,MidOffandManagers,39

In [124]:
merged_left_clean['county_state'] = merged_left_clean[['County', 'State']].apply((lambda x: x[0] +", " + x[1]), axis=1)

In [128]:
print(f"We need to address {merged_left_clean['county_state'].nunique()} counties")

We need to address 52 counties

In [135]:
missing_left_counties = merged_left_clean.drop_duplicates('county_state', keep='first')
missing_left_counties.head()

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,county_state
49,2021,Staunton,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,22,"Staunton, VA"
50,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,28,"Waynesboro, VA"
75,2021,Danville,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,191,"Danville, VA"
80,2021,Colonial Heights,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,147,"Colonial Heights, VA"
100,2021,District Of Columbia,DC,TwoormoreRaces,Female,Finance and Insurance,Clericals,42,"District Of Columbia, DC"

In [168]:
missing_left_counties = missing_left_counties[['County', 'State']]
missing_left_counties.head()

                   County State
49               Staunton    VA
50             Waynesboro    VA
75               Danville    VA
80       Colonial Heights    VA
100  District Of Columbia    DC

In [138]:
missing_left_counties.to_csv("remaining_missing_fips_raw.csv", index=False)

In [148]:
last_missing_counties = pd.read_csv('remaining_missing_fips.csv')
last_missing_counties['county_state'] = last_missing_counties[['County', 'State']].apply((lambda x: x[0] + ", " + x[1]), axis = 1)
last_missing_counties = last_missing_counties.drop(['County', 'State'], axis="columns")


last_missing_counties.head()

   County_FIPS              county_state
0         1049               De Kalb, AL
1        11001  District Of Columbia, DC
2        12027               De Soto, FL
3        13089               De Kalb, GA
4        13189              Mcduffie, GA

In [149]:
merged_left_clean.head()

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,county_state
49,2021,Staunton,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,22,"Staunton, VA"
50,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,28,"Waynesboro, VA"
51,2021,Waynesboro,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,50,"Waynesboro, VA"
75,2021,Danville,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,191,"Danville, VA"
80,2021,Colonial Heights,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,147,"Colonial Heights, VA"

In [151]:
# merge last_missing_counties and merged_left_clean

finished_left_df = merged_left_clean.merge(right=last_missing_counties, on='county_state')
finished_left_df

,Year,County,State,Race,Gender,Industry,Job,Number of Employee,county_state,County_FIPS
0,2021,Staunton,VA,BlackorAfricanAmerican,Female,Retail Trade,SalesWorkers,22,"Staunton, VA",51790
1,2021,Staunton,VA,BlackorAfricanAmerican,Female,Health Care and Social Assistance,Technicians,11,"Staunton, VA",51790
2,2021,Staunton,VA,White,Female,Accommodation and Food Services,MidOffandManagers,5,"Staunton, VA",51790
3,2021,Staunton,VA,White,Female,Health Care and Social Assistance,MidOffandManagers,31,"Staunton, VA",51790
4,2021,Staunton,VA,BlackorAfricanAmerican,Male,Health Care and Social Assistance,Technicians,11,"Staunton, VA",51790
...,...,...,...,...,...,...,...,...,...,...
23769,2017,Mcculloch,TX,White,Female,"Mining, Quarrying, and Oil and Gas Extraction",Professionals,3,"Mcculloch, TX",48307
23770,2016,Mcculloch,TX,White,Male,"Mining, Quarrying, and Oil and Gas Extraction",Clericals,7,"Mcculloch, TX",48307
23771,2016,Mcculloch,TX,White,Female,"Mining, Quarrying, and Oil and Gas Extraction",Clericals,8,"Mcculloch, TX",48307
23772,2016,Buena Vista,VA,White,Female,Manufacturing,MidOffandManagers,12,"Buena Vista, VA",51530
23773,2016,Buena Vista,VA,White,Male,Manufacturing,MidOffandManagers,59,"Buena Vista, VA",51530

In [153]:
eeo_complete = pd.concat([eeo_new, finished_left_df])
eeo_complete = eeo_complete.drop(['county_state'], axis='columns')

In [154]:
eeo_complete

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
0,2021,53077,Yakima,WA,White,Male,Health Care and Social Assistance,Service,118
1,2021,8005,Arapahoe,CO,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,39061,Hamilton,OH,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,26081,Kent,MI,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,26163,Wayne,MI,TwoormoreRaces,Female,Manufacturing,Craft,3
...,...,...,...,...,...,...,...,...,...
23769,2017,48307,Mcculloch,TX,White,Female,"Mining, Quarrying, and Oil and Gas Extraction",Professionals,3
23770,2016,48307,Mcculloch,TX,White,Male,"Mining, Quarrying, and Oil and Gas Extraction",Clericals,7
23771,2016,48307,Mcculloch,TX,White,Female,"Mining, Quarrying, and Oil and Gas Extraction",Clericals,8
23772,2016,51530,Buena Vista,VA,White,Female,Manufacturing,MidOffandManagers,12
23773,2016,51530,Buena Vista,VA,White,Male,Manufacturing,MidOffandManagers,59

In [164]:
eeo_complete['County_FIPS'] = eeo_complete['County_FIPS'].astype('int').astype('object')

In [165]:
eeo_complete.sort_values(by='County_FIPS')

,Year,County_FIPS,County,State,Race,Gender,Industry,Job,Number of Employee
603842,2018,1001,Autauga,AL,White,Male,Retail Trade,MidOffandManagers,22
603841,2018,1001,Autauga,AL,White,Male,Accommodation and Food Services,MidOffandManagers,11
589186,2018,1001,Autauga,AL,White,Female,Retail Trade,MidOffandManagers,11
589187,2018,1001,Autauga,AL,White,Female,Accommodation and Food Services,MidOffandManagers,14
776239,2017,1001,Autauga,AL,White,Female,Retail Trade,MidOffandManagers,10
...,...,...,...,...,...,...,...,...,...
762768,2017,56037,Sweetwater,WY,White,Female,Retail Trade,Professionals,7
37456,2021,56037,Sweetwater,WY,White,Female,"Mining, Quarrying, and Oil and Gas Extraction",MidOffandManagers,23
511362,2019,56037,Sweetwater,WY,White,Female,"Mining, Quarrying, and Oil and Gas Extraction",Labors,5
125574,2021,56037,Sweetwater,WY,White,Male,Retail Trade,Professionals,4
853384,2016,56037,Sweetwater,WY,White,Male,Retail Trade,Clericals,36

In [166]:
eeo_complete.to_csv("eeo_complete_v5.csv", index=False)